@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');


:root{
    --TeaGreen: #C3F3C0;
    --PastelGreen: #7EE081;
    --ShinyShamrock: #62A87C;
    --White: #FFFFFF;
    --Black: #000;


    --Font: 'Poppins';

    --font-light: 300;
    --font-regular: 400;
    --font-bold: 600;

}

html{
    overflow: hidden;
    padding: 0;
    margin: 0;
}

h1{
    font-family: var(--Font);
    font-weight: var(--font-regular);
}

h2{
    font-family: var(--Font);
    font-weight: var(--font-regular); 
}

p{
    font-family: var(--Font);
    font-weight: var(--font-light);
    font-size: 12px;
}

a{
  font-family: var(--Font);
  font-weight: var(--font-regular);
  font-size: 12px;
}